@charset "utf-8";

@import "normalize";

*,
*:before,
*:after {
  box-sizing: border-box;
}

$primary-color: rgba(115, 49, 205);
$background: #19191970;
$foreground: white;
$link-color: #007cbc;

@import "base";
@import "layout";
@import "header";
@import "index";
@import "themes";
@import "search";
