@charset "utf-8";

@import "normalize";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30vh;
}

$primary-color: #7331cd;
$background: #19191970;
$foreground: white;
$link-color: #007cbc;

@import "base";
@import "layout";
@import "header";
@import "index";
@import "themes";
@import "search";
