<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>图吧工具箱</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">简介</a></li>
          <li><a href="#">SDK</a></li>
          <li><a href="#">加群</a></li>
          <li><a href="#">捐赠</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="section">
        <div class="container">{% block content %} {% endblock content %}</div>
      </section>
    </main>
    <footer>
      <div class="copyright">
        <b>&copy; <a href="https://saop.cc" target="_blank">Asuna</a></b>
      </div>
    </footer>
  </body>
</html>
