<!DOCTYPE html>
<html lang="zh">
  <head>
    {% block head_content %} {% endblock head_content %}
  </head>
  <body>
    <header>{% block header_content %} {% endblock header_content %}</header>
    <main>
      <section class="section">
        <div class="container">{% block content %} {% endblock content %}</div>
      </section>
    </main>
    <footer>
      <div class="copyright">
        <b>&copy; <a href="https://saop.cc" target="_blank">Asuna</a></b>
      </div>
    </footer>
    <script
      async
      type="module"
      src="js/turbo.es2017-esm.js"
      importance="high"
    ></script>
  </body>
</html>
