{% extends "base.html" %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>图吧工具箱 - 最纯净的硬件工具箱</title>
<meta
  name="description"
  content="全名图拉丁吧硬件检测工具箱，是开源、免费、绿色、纯净的硬件检测工具合集，专为图钉及所有DIY爱好者制作，包含常用硬件测试和检测工具，月工JS必备！"
/>
<meta
  name="keywords"
  content="图拉丁吧,图拉丁吧工具箱,硬件检测,硬件工具箱,DIY工具箱,开源工具箱"
/>
<meta name="author" content="Asuna" />
<meta name="robots" content="index, follow" />
<meta property="og:title" content="图拉丁吧工具箱 - 最纯净的硬件工具箱" />
<meta
  property="og:description"
  content="全名图拉丁吧硬件检测工具箱，是开源、免费、绿色、纯净的硬件检测工具合集，专为图钉及所有DIY爱好者制作，包含常用硬件测试和检测工具，月工JS必备！"
/>
<meta property="og:image" content="img/favicon.ico" />
<meta property="og:url" content="https://tb.saop.cc/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="图拉丁吧工具箱" />
<meta property="og:locale" content="zh" />
<link rel="stylesheet" href="css/style.css" />
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
{% endblock head %}
