@charset "utf-8";

*,
*:before,
*:after {
  box-sizing: border-box;
}

$primary-color: rgba(115, 49, 205);
$background: #191919;
$foreground: white;
$link-color: #007cbc;

@import "base";
