{% extends "base.html" %} {% block content %}
<div class="hero">
  <h1 class="title">{% block title %}{{ page.title }}{% endblock title %}</h1>
  <p class="hero__tagline">选择你需要的工具箱，开始下载</p>

  <div class="dl-tabs">
    <input type="radio" name="dl-tab" id="tab-tb" class="dl-tabs__radio" checked />
    <input type="radio" name="dl-tab" id="tab-kb" class="dl-tabs__radio" />
    <div class="dl-tabs__nav">
      <label for="tab-tb" class="dl-tabs__label">
        <i class="fas fa-toolbox"></i>&nbsp;图吧工具箱
      </label>
      <label for="tab-kb" class="dl-tabs__label">
        <i class="fas fa-microchip"></i>&nbsp;卡硬工具箱
      </label>
    </div>

    <div class="dl-tabs__panels">
      <div class="dl-tabs__panel">
        <p>搞机佬的必备工具集</p>
        <h3>主线下载</h3>
        <p>
          <a class="button hero__download"
            href="{{ config.extra.dl_url }}%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E5%AE%89%E8%A3%85%E5%8C%85.exe"
            ><i class="fas fa-download"></i>&nbsp;安装包 .exe</a
          >&nbsp;<a class="button"
            href="{{ config.extra.dl_url }}%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E7%BB%BF%E8%89%B2%E7%89%88.rar"
            ><i class="fas fa-download"></i>&nbsp;绿色版 .rar</a
          >
        </p>
        <h3><a target="_blank" href="https://idc.lgwl.top/">力冠云</a>备线</h3>
        <p>
          <a class="button hero__download"
            href="https://download.lgwl.top/sd/GB3zV1yZ/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E5%AE%89%E8%A3%85%E5%8C%85.exe?pwd=Asuna"
            ><i class="fas fa-download"></i>&nbsp;安装包 .exe</a
          >&nbsp;<a class="button"
            href="https://download.lgwl.top/sd/GB3zV1yZ/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E7%BB%BF%E8%89%B2%E7%89%88.rar?pwd=Asuna"
            ><i class="fas fa-download"></i>&nbsp;绿色版 .rar</a
          >
        </p>
        <h3><a target="_blank" href="https://tualatin.club/">图拉丁CLUB</a>备线</h3>
        <p>
          <a class="button hero__download"
            href="https://apac.tualatin.club/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E5%AE%89%E8%A3%85%E5%8C%85.exe"
            ><i class="fas fa-download"></i>&nbsp;安装包 .exe</a
          >
        </p>
        <h3><a target="_blank" href="https://github.com/AdingApkgg/tb/releases/latest">GitHub</a>备线</h3>
        <p>
          <a class="button hero__download"
            href="{{ config.extra.dl_url_backup }}tb.exe"
            ><i class="fas fa-download"></i>&nbsp;安装包 .exe</a
          >&nbsp;<a class="button" href="{{ config.extra.dl_url_backup }}tb.rar"
            ><i class="fas fa-download"></i>&nbsp;绿色版 .rar</a
          >
        </p>
        <p class="dl-tabs__hint">如下载慢或失败，请尝试备线下载。</p>
      </div>

      <div class="dl-tabs__panel">
        <p>集百家之长，掌握主机的每个角落</p>
        <h3>主线下载</h3>
        <p>
          <a class="button hero__download"
            href="{{ config.extra.dl_url }}kaying_tools_V2.98_setup.exe"
            ><i class="fas fa-download"></i>&nbsp;安装包 .exe</a
          >&nbsp;<a class="button"
            href="{{ config.extra.dl_url }}kaying_tools_V2.98.7z"
            ><i class="fas fa-download"></i>&nbsp;绿色版 .7z</a
          >
        </p>
        <h3><a target="_blank" href="https://wp.smxdiy.top/">卡硬官方</a>备线</h3>
        <p>
          <a class="button hero__download" target="_blank"
            href="https://wp.smxdiy.top/%E5%8D%A1%E7%A1%AC%E5%B7%A5%E5%85%B7%E7%AE%B1/kaying_tools_V2.98_setup.zip"
            ><i class="fas fa-download"></i>&nbsp;安装包 .zip</a
          >&nbsp;<a class="button" target="_blank"
            href="https://wp.smxdiy.top/%E5%8D%A1%E7%A1%AC%E5%B7%A5%E5%85%B7%E7%AE%B1/kaying_tools_V2.98.7z"
            ><i class="fas fa-download"></i>&nbsp;绿色版 .7z</a
          >
        </p>
        <h3><a target="_blank" href="https://github.com/AdingApkgg/tb/releases/latest">GitHub</a>备线</h3>
        <p>
          <a class="button hero__download"
            href="{{ config.extra.dl_url_backup }}kb.exe"
            ><i class="fas fa-download"></i>&nbsp;安装包 .exe</a
          >&nbsp;<a class="button" href="{{ config.extra.dl_url_backup }}kb.7z"
            ><i class="fas fa-download"></i>&nbsp;绿色版 .7z</a
          >
        </p>
        <p class="dl-tabs__hint">如下载慢或失败，请尝试备线下载。</p>
        <h3>报毒说明</h3>
        <p class="dl-tabs__hint">
          本软件由于带了部分绿化版软件，可能会被部分杀毒软件误认为病毒，请添加信任或关闭杀软。
        </p>
        <img src="/img/faq-kb.avif" alt="报毒说明" />
      </div>
    </div>
  </div>

  <p>更多问题请查看 <a href="/faq/">问答</a> 页面。</p>
</div>
{% endblock content %}
