{% extends "base.html" %} {% block content %}
<div class="hero">
  <img src="img/hardinfo.avif" alt="hardinfo" loading="lazy" />
  <h1 class="title">{% block title %}{{ config.title }}{% endblock title %}</h1>
  <p class="hero__tagline">{{ config.extra.hero_tagline }}</p>
  <p>
    <a
      class="button"
      href="//disk.saop.cc/d/%E5%9B%BE%E5%90%A7/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B12025.02%E5%AE%89%E8%A3%85%E7%A8%8B%E5%BA%8F.exe"
      >立即下载 .exe</a
    >&nbsp;<a
      class="button"
      href="//disk.saop.cc/d/%E5%9B%BE%E5%90%A7/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202502.rar"
      >绿色下载 .rar</a
    >
  </p>
</div>
<link
  rel="stylesheet"
  href="https://registry.npmmirror.com/artalk/latest/files/dist/Artalk.css"
  fetchpriority="low"
/>
<link
  rel="stylesheet"
  href="https://registry.npmmirror.com/lightgallery/latest/files/css/lightgallery.css"
  fetchpriority="low"
/>
<script
  src="https://registry.npmmirror.com/lightgallery/latest/files/lightgallery.min.js"
  fetchpriority="low"
></script>
<script
  src="https://registry.npmmirror.com/artalk/latest/files/dist/Artalk.js"
  fetchpriority="low"
></script>
<script
  src="https://registry.npmmirror.com/@artalk/plugin-lightbox/latest/files/dist/artalk-plugin-lightbox.js"
  fetchpriority="low"
></script>
<div id="Comments"></div>
<script>
  Artalk.init({
    el: "#Comments",
    pageKey: "https://tb.saop.cc",
    server: "https://artalk.saop.cc",
    site: "图吧工具",
    darkMode: true,
  });
</script>
{% endblock content %}
