{% extends "base.html" %} {% block content %}
<div class="hero">
  <img src="/img/hardinfo.avif" alt="hardinfo" loading="lazy" />
  <h1 class="title">{% block title %}{{ config.title }}{% endblock title %}</h1>
  <p class="hero__tagline">{{ config.extra.hero_tagline }}</p>
  <h2>主线下载</h2>
  <p>
    <a
      class="button hero__download"
      href="{{ config.extra.dl_url }}%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E5%AE%89%E8%A3%85%E5%8C%85.exe"
      ><i class="fas fa-download"></i>&nbsp;立即下载 .exe</a
    >&nbsp;<a
      class="button"
      href="{{ config.extra.dl_url }}%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E7%BB%BF%E8%89%B2%E7%89%88.rar"
      ><i class="fas fa-download"></i>&nbsp;绿色下载 .rar</a
    >
  </p>
  <p>如下载慢或失败，请尝试备线下载。</p>
  <h2><a target="_blank" href="https://idc.lgwl.top/">力冠云</a>备线下载</h2>
  <p>
    <a
      class="button hero__download"
      href="https://download.lgwl.top/sd/GB3zV1yZ/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E5%AE%89%E8%A3%85%E5%8C%85.exe?pwd=Asuna"
      ><i class="fas fa-download"></i>&nbsp;立即下载 .exe</a
    >&nbsp;<a
      class="button"
      href="https://download.lgwl.top/sd/GB3zV1yZ/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E7%BB%BF%E8%89%B2%E7%89%88.rar?pwd=Asuna"
      ><i class="fas fa-download"></i>&nbsp;绿色下载 .rar</a
    >
  </p>
  <h2>
    <a target="_blank" href="https://tualatin.club/">图拉丁CLUB</a>备线下载
  </h2>
  <p>
    <a
      class="button hero__download"
      href="https://apac.tualatin.club/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202601%E5%AE%89%E8%A3%85%E5%8C%85.exe"
      ><i class="fas fa-download"></i>&nbsp;立即下载 .exe</a
    >
  </p>
  <h2>
    <a target="_blank" href="https://github.com/AdingApkgg/tb/releases/latest"
      >GitHub</a
    >
    备线下载
  </h2>
  <p>
    <a
      class="button hero__download"
      href="{{ config.extra.dl_url_backup }}tb.exe"
      ><i class="fas fa-download"></i>&nbsp;立即下载 .exe</a
    >&nbsp;<a class="button" href="{{ config.extra.dl_url_backup }}tb.rar"
      ><i class="fas fa-download"></i>&nbsp;绿色下载 .rar</a
    >
  </p>
  <div class="selling-points__content container">
    <p>
      图吧工具，是开源、免费、绿色、纯净的硬件检测工具合集，专为所有计算机硬件极客、DIY
      爱好者、各路大神及小白制作。集成大量常见硬件检测、评分工具，一键下载、方便使用。
    </p>
    <div class="selling-point">
      <h2>专业</h2>
      <p>专注于收集各种硬件检测、评分、测试工具，常见工具均有收集。</p>
    </div>
    <div class="selling-point">
      <h2>纯净</h2>
      <p>
        无任何捆绑强制安装行为，不写入注册表，没有任何敏感目录及文件操作，无任何诱导、孔吓、欺乍等操作。
      </p>
    </div>
    <div class="selling-point">
      <h2>绿色</h2>
      <p>
        提供 .7z
        压缩包，无需安装、注册等复杂操作，解压即可使用。用完可直接删除，无需卸载。
      </p>
    </div>
    <div class="selling-point">
      <h2>开放</h2>
      <p>
        群文件可直接下载源码，并提供硬件检测
        SDK，主流编程语言无门槛调用，且无需授权、免费使用无任何限制。不忘初心，始于
        2014，持续 10 年稳定更新，坚持做能方便大家使用的硬件检测工具箱。
      </p>
    </div>
  </div>
</div>
{% endblock content %}
