{% extends "base.html" %} {% block content %}
<div class="hero">
  <img src="img/hardinfo.avif" alt="hardinfo" loading="lazy" />
  <h1 class="title">{% block title %}{{ config.title }}{% endblock title %}</h1>
  <p class="hero__tagline">{{ config.extra.hero_tagline }}</p>
  <p>
    <a
      class="button"
      href="//disk.saop.cc/d/%E5%9B%BE%E5%90%A7/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B12025.02%E5%AE%89%E8%A3%85%E7%A8%8B%E5%BA%8F.exe"
      >立即下载 .exe</a
    >&nbsp;<a
      class="button"
      href="//disk.saop.cc/d/%E5%9B%BE%E5%90%A7/%E5%9B%BE%E5%90%A7%E5%B7%A5%E5%85%B7%E7%AE%B1202502.rar"
      >绿色下载 .rar</a
    >
  </p>
  <div class="selling-points__content container">
    <p>
      图吧工具，是开源、免费、绿色、纯净的硬件检测工具合集，专为所有计算机硬件极客、DIY 爱好者、各路大神及小白制作。集成大量常见硬件检测、评分工具，一键下载、方便使用。
    </p>
    <div class="selling-point">
      <h2>专业</h2>
      <p>专注于收集各种硬件检测、评分、测试工具，常见工具均有收集。</p>
    </div>
    <div class="selling-point">
      <h2>纯净</h2>
      <p>
        无任何捆绑强制安装行为，不写入注册表，没有任何敏感目录及文件操作，无任何诱导、孔吓、欺乍等操作。
      </p>
    </div>
    <div class="selling-point">
      <h2>绿色</h2>
      <p>
        提供 .7z 压缩包，无需安装、注册等复杂操作，解压即可使用。用完可直接删除，无需卸载。
      </p>
    </div>
    <div class="selling-point">
      <h2>开放</h2>
      <p>
        群文件可直接下载源码，并提供硬件检测 SDK，主流编程语言无门槛调用，且无需授权、免费使用无任何限制。不忘初心，始于 2014，持续 10 年稳定更新，坚持做能方便大家使用的硬件检测工具箱。
      </p>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://registry.npmmirror.com/artalk/latest/files/dist/Artalk.css"
  fetchpriority="low"
/>
<link
  rel="stylesheet"
  href="https://registry.npmmirror.com/lightgallery/latest/files/css/lightgallery.css"
  fetchpriority="low"
/>
<script
  src="https://registry.npmmirror.com/lightgallery/latest/files/lightgallery.min.js"
  fetchpriority="low"
></script>
<script
  src="https://registry.npmmirror.com/artalk/latest/files/dist/Artalk.js"
  fetchpriority="low"
></script>
<script
  src="https://registry.npmmirror.com/@artalk/plugin-lightbox/latest/files/dist/artalk-plugin-lightbox.js"
  fetchpriority="low"
></script>
<div id="Comments"></div>
<script>
  Artalk.init({
    el: "#Comments",
    pageKey: "https://tb.saop.cc",
    server: "https://artalk.saop.cc",
    site: "图吧工具",
    darkMode: true,
  });
</script>
{% endblock content %}
