{% extends "base.html" %} {% block content %}
<div class="hero">
  <img src="/img/hardinfo-kb.avif" alt="hardinfo" />
  <h1 class="title">{% block title %}{{ page.title }}{% endblock title %}</h1>
  <p class="hero__tagline">{{ page.extra.hero_tagline }}</p>
  <p>
    <a class="button hero__download" href="/downloads/"
      ><i class="fas fa-download"></i>&nbsp;立即下载</a
    >
  </p>
  <p>灵活易用 & 绿色纯净 & 免费使用</p>
  <div class="selling-points__content container">
    <p>{{ page.description }}</p>
  </div>
</div>
{% endblock content %}
