{% extends "base.html" %} {% block content %}
<div class="hero">
  <img src="/img/hardinfo-kb.avif" alt="hardinfo" loading="lazy" />
  <h1 class="title">{% block title %}{{ page.title }}{% endblock title %}</h1>
  <p class="hero__tagline">集百家之长，掌握主机的每个角落</p>
  <p>
    <a
      class="button"
      href="//disk.saop.cc/d/%E5%9B%BE%E5%90%A7/kaying_tools_V2.98_setup.exe"
      >立即下载 .exe</a
    >&nbsp;<a
      class="button"
      href="//disk.saop.cc/d/%E5%9B%BE%E5%90%A7/kaying_tools_V2.98.7z"
      >绿色下载 .7z</a
    >
  </p>
  <div class="selling-points__content container">
    <p>
      致力于打造最全面实用的硬件检测、管理、性能测试工具，软件集合熟知的各个配件的检测工具；超频工具；拷机测试工具；以及各种实用软件，助力您的玩机生涯。
    </p>
  </div>
  <h2>报毒说明</h2>
  <p>
    本软件由于带了部分绿化版软件。可能会被部分杀毒软件误认为病毒。请添加信任或关闭杀软。
  </p>
  <img src="/img/faq-kb.avif" alt="faq-kb" loading="lazy" />
  <h2>灵活易用&nbsp;&nbsp;绿色纯净&nbsp;&nbsp;免费使用</h2>
</div>
{% endblock content %}
