{% extends "base.html" %} {% block content %}
<div class="hero">
  <img src="/img/hardinfo-kb.avif" alt="hardinfo" loading="lazy" />
  <h1 class="title">{% block title %}{{ page.title }}{% endblock title %}</h1>
  <p class="hero__tagline">{{ page.extra.hero_tagline }}</p>
  <p>
    <a
      class="button hero__download"
      href="{{ config.extra.dl_url }}kb.exe"
      ><i class="fas fa-download"></i>&nbsp;立即下载 .exe</a
    >&nbsp;<a
      class="button"
      href="{{ config.extra.dl_url }}kb.7z"
      ><i class="fas fa-download"></i>&nbsp;绿色下载 .7z</a
    >
    <p>灵活易用 & 绿色纯净 & 免费使用</p>
  </p>
  <div class="selling-points__content container">
    <p>
      {{ page.description }}
    </p>
  </div>
  <h2>报毒说明</h2>
  <p>
    本软件由于带了部分绿化版软件。可能会被部分杀毒软件误认为病毒。请添加信任或关闭杀软。
  </p>
  <img src="/img/faq-kb.avif" alt="faq-kb" loading="lazy" />
</div>
{% endblock content %}
