{% extends "base.html" %} {% block content %}
<h1 class="title">{% block title %}{{ page.title }}{% endblock title %}</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
<footer>
  <div class="copyright">
    <b>&copy; <a href="https://saop.cc" target="_blank">Asuna</a></b>
  </div>
  <div class="links">
    <a href="/rss.xml" target="_blank">RSS</a>&nbsp;
    <a href="/sitemap.xml" target="_blank">Sitemap</a>&nbsp;
    <a href="https://github.com/AdingApkgg/tb" target="_blank">GitHub</a>
  </div>
</footer>
{% endblock content %}
